@import 'variables';

/* html equipo */
.equipo {
  padding: ($spacing-unit * 2) 10%; //Texto
  text-align: center;
  }

.grid-equipo {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 4%;
  }

.miembro {
  flex: 1 1 30%; 
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: $border-radius-large;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}